.country-screen {
    width: calc(100% - 50px);
}

.section.heading {
    height: 7%;
    font-size: 20px;
    font-weight: 600;
}

.row {
    margin: 0 !important;
}

.col-6 {
    height: 50px;
}

input {
    border: none;
    border-bottom: 2px solid #4e43ff;
}

label {
    font-size: 15px;
    font-weight: bold;
}

button {
    font-weight: bold;
}