<div class="container-fluid position-relative h-100">
    <div class="row h-100">
        <div class="col-6">
        </div>
        <div class="col-6">
            <div class="m-auto">
                <mat-card class="login-card card">
                    <mat-card-title class="pt-4 text-center font-weight-bold" style="font-size: 30px;">Login</mat-card-title>
                    <mat-card-content class="card-body p-5">
                        <form (ngSubmit)="login()" role="form" name="loginForm" novalidate>

                            <input matInput class="mt-2 mb-5 w-100"
                                name="username" [(ngModel)]="username"
                                placeholder="Username" type="text" />

                            <input class="mb-5 w-100"
                                name="password" [(ngModel)]="password"
                                placeholder="Password" type="password" />

                            <button class="mb-3 mt-4 w-100 font-weight-bold" type="submit" [disabled]="!(!!username && !!password)">Login</button>
                            <div style="color: red; height: 10px;">
                                <span *ngIf="loginError">Incorrect username or password</span>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>