/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Quicksand';
    src: url("./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

html, body {
    min-height: 100vh;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    max-width: 100%;
    font-family: "Quicksand", sans-serif !important;
}

* {
    outline: none;
}

.card {
    border: none !important;
}